#avatar1 {
	width: 200px;
	height: 200px;
	display: inline-block;
	background: url(../img/avatar1.jpg);
}

#avatar2 {
	width: 200px;
	height: 200px;
	display: inline-block;
	background: url(../img/avatar2.jpg);
}